root {
    var(--color)
}

html {
    font-size: 14px;
}

@font-face {
    font-family: AvQuest;
    src: url(../font/Avqest.ttf);
}

@font-face {
    font-family: Diabolica;
    src: url(../font/Diabolica-VRBB.ttf)
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background: grey;
    border-style: solid;
    border-width: 2rem 2rem 6rem 2rem;
    border-image: url(../img/border1.png) 18% 18% 50% 18% repeat;
    background: url(../img/concrete-bg.webp), #252525;
    background-blend-mode: multiply;
}

body {
    margin-bottom: 60px;
    font-family: AvQuest;
    background: transparent;
}

p, h1, h2, h3, h4, h5, gi, table, th, tr, label, dl {
    color: #e5e5e5;
}

    .header-centered {
        text-align: center;
    }

    .data-centered {
        text-align: center;
    }

a {
    font-size: 1rem;
    color: #c85e5e;
    text-decoration: none;
}

    a:hover {
        color: #c12d2d;
    }

#name-col-item {
    color: palegoldenrod;
}

    #name-col-item:hover {
        color: goldenrod
    }

tbody tr:hover, .navbar .nav-link:hover, .navbar-brand:hover {
    background-color: rgb(69, 69, 69, 0.3);
}

nav div ul li {
    color:whitesmoke;
}