@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-2">Item Bases</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Tier</th>
            <th scope="col">Type </th>
            <th scope="col">Sockets</th>
            <th scope="col">1H Dmg</th>
            <th scope="col">2H Dmg</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
</table>
</div>
